:root {
  --sm: 0.875rem;
  --md: 1rem;
  --lg: 2rem;
  --black: #2b2b2b;
  --red: #b7282e;
}

body {
  background: var(--black);
  margin: 0;

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
}
