:root {
  --ex-sm: 0.5rem;
  --sm: 0.875rem;
  --md: 1rem;
  --lg: 2rem;
  --black: #2b2b2b;
  --red: #b7282e;
  --gradation: linear-gradient(30deg, var(--red) 20%, #e198b4);
}

body {
  background: var(--black);
  margin: 0;
}
