div.container {
  color: #fff;

  span {
    display: block;
    font-size: var(--md);
    text-align: center;
    transition: var(--transition);

    &.lang {
      padding: var(--ex-sm) var(--md);
      cursor: pointer;
    }

    &.selected {
      color: var(--red);
    }

    &:hover {
      opacity: 0.5;
    }
  }

  div {
    position: absolute;
    opacity: 1;
    transition: 0.2s ease-in-out allow-discrete;

    @starting-style {
      opacity: 0;
    }

    &.hidden {
      opacity: 0;
    }

    a {
      padding: var(--ex-sm) var(--md);
    }
  }
}
