# node
**/node_modules

# output
**/dist
**/dist-ssr
**/docs

# env
.env
.env.*
*.local
vite-env.d.ts

# test
/examples
.prettierrc.yml

# config
tsconfig.json
.vscode/*
.github/*

# log
logs
*.log
npm-debug.log*

# misc
CODE_OF_CONDUCT.md
.DS_Store