# Logs
logs
*.log
npm-debug.log*
/node_modules
/dist
/dist-ssr
/src
/storybook-static
*.local
tsconfig.json
prettierrc.yml
vite-env.d.ts

# Editor directories and files
.vscode/*
!.vscode/extensions.json