@import url('./todo.css');

.container {
  display: flex;
  align-items: center;
  justify-content: center;

  input {
    width: calc(var(--md) * 15);
    font-size: var(--md);
    color: var(--black);
    padding: var(--sm);
    margin-right: var(--md);
    border: none;
    border-radius: var(--sm);
  }
}
