@import url('./todo.css');

.container {
  display: flex;
  align-items: center;
  justify-content: center;

  input {
    width: calc(var(--md) * 15);
    font-size: var(--md);
    padding: calc(var(--md) / 2);
    margin-right: var(--md);
  }
}
