@import 'tailwindcss';
@import './variables.css';

@theme {
  --text-xl: 2rem;
  --text-xl--line-height: 1.5;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  overscroll-behavior-x: none;
}

h1 {
  background: linear-gradient(30deg, oklch(0.512 0.1788 24.39) 30%, oklch(0.7596 0.094 354.9));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (forced-colors: active) {
  h1 {
    background: none;
    background-clip: border-box;
    -webkit-text-fill-color: CanvasText;
    color: CanvasText;
  }
}

.clickable[disabled] {
  @apply opacity-20;
}

main {
  min-height: calc(100dvh - var(--header-height) - var(--footer-height));
}
