@import 'tailwindcss/preflight';
@import 'tailwindcss/theme';
@import 'tailwindcss/utilities';
@import './variables.css';

@theme {
  --text-sm--line-height: 1.2;
  --color-pink: oklch(0.5923 0.1495 18.78);
}

.clickable {
  @apply transition duration-200 ease-out;

  &:not([disabled]) {
    @apply cursor-pointer focus:outline-none active:scale-95;

    &:focus,
    &:focus-visible {
      outline: var(--outline) solid var(--color-pink);
      outline-offset: 0;
    }
  }

  &[disabled] {
    @apply opacity-20 cursor-not-allowed;
  }
}
