@import 'tailwindcss';

@theme {
  --text-xl: 2rem;
  --text-xl--line-height: 1.5;
  --color-dark: #282828;
}

h1 {
  background: linear-gradient(30deg, #b7282e 20%, #e198b4);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
