@import 'tailwindcss/preflight';
@import 'tailwindcss/theme';
@import 'tailwindcss/utilities';

@theme {
  --text-base--line-height: 1.2;
  --text-sm--line-height: 1.2;
  --color-red: #b7282e;
}

.clickable {
  @apply transition-opacity duration-200 ease-out;

  &:not([aria-disabled='true']) {
    @apply cursor-pointer hover:opacity-50 focus:scale-90;
  }

  &[aria-disabled='true'] {
    @apply opacity-20 cursor-not-allowed;
  }
}
