@import 'tailwindcss/preflight';
@import 'tailwindcss/theme';
@import 'tailwindcss/utilities';

@theme {
  --font-sans: 'Times New Roman', serif;
  --text-lg: 1.5rem;
  --text-base--line-height: 1.2;
  --text-sm--line-height: 1.2;
  --color-dark: oklch(0.2768 0 0);
  --color-red: oklch(0.512 0.1788 24.39);
}

.clickable {
  @apply transition duration-200 ease-out;

  &:not([disabled]) {
    @apply cursor-pointer hover:opacity-50 focus:scale-95;
  }

  &[disabled] {
    @apply opacity-20 cursor-not-allowed;
  }
}
