@import 'tailwindcss/preflight';
@import 'tailwindcss/theme';
@import 'tailwindcss/utilities';

@theme {
  --text-base--line-height: 1.2;
  --text-sm--line-height: 1.2;
  --color-red: #b7282e;
  --color-dark: #282828;
}

.clickable {
  &:not([aria-disabled='true']) {
    @apply duration-200 ease-out cursor-pointer;
    @apply hover:opacity-50;
    @apply focus:scale-90;
  }

  &[aria-disabled='true'] {
    @apply cursor-not-allowed;
  }
}
